h1 {
    font-family: "Simonetta", serif;
    font-weight: 900;
    font-style: italic;
  }

h1 {color:rgb(102, 219, 210);
font-size: 180%;
}

h2 {color:rgb(168, 21, 21);
font-size: 150%
}
h2 {
    font-family: "Simonetta", serif;
    font-weight: 900;
    font-style: normal;
  }

  h1 {border-style: solid;
border-color: rgb(102, 219, 210);
border-width: 7px;
}

h3 {
    font-family: "Simonetta", serif;
    font-weight: 900;
    font-style: italic;
  }

  h3 {color:rgb(102, 219, 210);
    font-size: 150%
    }

    .party01 {border-style: solid;
        border-color: rgb(197, 0, 49);
        border-width: 8px;
        text-align: center;
    }

    .party01  {margin-right: 10%;
    }

    .party01 {padding: 10%;
    }
